[submodule "ressources/[qb]/qb-core"]
	path = ressources/[qb]/qb-core
	url = https://github.com/qbcore-framework/qb-core
[submodule "ressources/[qb]/qb-anticheat"]
	path = ressources/[qb]/qb-anticheat
	url = https://github.com/qbcore-framework/qb-anticheat
[submodule "ressources/[qb]/qb-inventory"]
	path = ressources/[qb]/qb-inventory
	url = https://github.com/qbcore-framework/qb-inventory
[submodule "ressources/[qb]/qb-spawn"]
	path = ressources/[qb]/qb-spawn
	url = https://github.com/qbcore-framework/qb-spawn
[submodule "ressources/[qb]/qb-multicharacter"]
	path = ressources/[qb]/qb-multicharacter
	url = https://github.com/qbcore-framework/qb-multicharacter
